@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: "Fredoka", sans-serif;
}

h2 {
  margin-top: -5px;
  font-size: 25px;
  text-align: center;
  color: white;
}
#cabecalho {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.containerPaiDeTodos {
  margin: 0 auto;
/*   padding: 110px; */
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.celulas {
  width: 70px;
  height: 60px;
  font-size: 30px;
  margin: 6px 4px;
  font-weight: 300;
  padding-top: 10px;
  border-radius: 3px;
  text-align: center;
  background-color: cadetblue;
  background: hsl(268, 47%, 21%);
  box-shadow: 1px 3px 2px hsl(176, 100%, 44%);
  color: hsl(176, 100%, 44%);
}

.celulas:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

#resultado {
  width: 100%;
  height: 100%;
  opacity: 0.95;
  position: absolute;
  background: black;
  color: white;
  display: none;
}

.button button {
  background: hsl(176, 100%, 44%);
  box-shadow: 1px 1px 2px hsl(177, 92%, 70%);
  width: 225px;
  font-family: "Fredoka", sans-serif;
}

.button:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
p {
  color: white;
}

#alertaJogueNovamente {
  display: none;
  color: white;
  font-family: "Fredoka", sans-serif;
  padding-bottom: 5px;
  font-size: 12px;
  text-align: center;
}
